name: Automatisation des tests DevSecOps

on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Scan de securite avec Trivy
        uses: aquasecurity/trivy-action@0.20.0
        with:
          scan-type: fs
          scan-ref: .
          format: table
          exit-code: 1
          severity: HIGH,CRITICAL

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Build de l'image Docker (test du Dockerfile)
        run: |
          docker build -t breakableflask .

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile

    steps:
      - name: Deploy
        run: |
          echo "Rien à faire ici. Votre application eest prête à être déployée"
