name: Automatisation des tests DevSecOps

on: push

jobs:
  Dependances:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Installer Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Installer pip-audit
        run: |
          python -m pip install --upgrade pip
          pip install pip-audit

      - name: Scan de securite du requirements.txt
        run: |
          pip-audit -r requirements.txt

  Dockerfile:
    runs-on: ubuntu-latest
    needs: Dependances

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Build de l'image Docker (test du Dockerfile)
        run: |
          docker build -t breakableflask .

  Deploy:
    runs-on: ubuntu-latest
    needs: Dockerfile

    steps:
      - name: Deploy
        run: |
          echo "Rien à faire icii. Votre application est prête à être déployée"

