name: Automatisation des tests DevSecOps

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  dependances:
    name: Scan de securite des dependances
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Create reports directory
        run: mkdir -p reports

      - name: Scan de securite avec Trivy (Markdown)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: fs
          scan-ref: .
          vuln-type: os,library
          severity: LOW,MEDIUM,HIGH,CRITICAL
          format: template
          template: "@contrib/markdown.tpl"
          output: reports/vulnerability-report.markdown
          exit-code: 0

      - name: Scan de securite avec Trivy (Table)
        uses: aquasecurity/trivy-action@0.28.0
        with:
          scan-type: fs
          scan-ref: .
          vuln-type: os,library
          severity: LOW,MEDIUM,HIGH,CRITICAL
          format: table
          output: reports/vulnerability-report
          exit-code: 0

      - name: Upload vulnerability artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: vulnerability-reports
          path: reports/
          retention-days: 7
          

  dockerfile:
    name: Build de l'image Docker
    runs-on: ubuntu-latest
    needs: dependances        

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Build de l'image Docker (test du Dockerfile)
        run: |
          docker build -t breakableflask .

  deploy:
    name: Deploy (simulation)
    runs-on: ubuntu-latest
    needs: dockerfile

    steps:
      - name: Fake deploy
        run: |
          echo "Rien à faire ici. L'application est prête à être déployée."
